// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #eceff0;
@light-gray: #8d938d;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #1c9a89;
@faded-indigo: #6b7db4;
@blue: #81a2be;
@bright-blue: #288ad6; // @purple: #b294bb;
@green: #328f00;
@red: #ff4845; // #cc6666;
@orange: #e67916;
@light-orange: #f0c674;
@navy-gray: #445e67;
